


section.main-grid{/*make this good for changing screen sizes*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 60px;
}

canvas{
    position: absolute;
    /* background-color: rgb(199, 106, 106); */
    border: 2px solid green;
}
